html,body {
	font-family: sans-serif;
    background-color: white;
    color:black;
    padding:0px;
    margin:0px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#topbar{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: fixed;
    width:100%;
    color:white;
    font-size:x-large;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom:10px;
    box-shadow: 0px 0px 10px rgb(138, 138, 138);
}
.topbar{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color:white;
    background: rgb(204,46,46);
    background: linear-gradient(90deg, rgb(204,46,46) 0%, rgb(42,91,197) 100%);
    text-decoration: none;
    margin-right:5px;
    height: 18px;
}
#aboveFooter{
    height:max-content;
}
#innerBody{
    height:100%;
    padding-left:30px;
    padding-right:30px;
    padding-top:70px;
    padding-bottom:8px;
    margin-bottom:10px;
}
footer{
    position:inherit;
    bottom:0;
    text-align:center;
    background-color:rgb(225,225,225);
    padding:15px;
}
p.description{
    margin-top:5px;
    color:rgb(100, 100, 100);
    font-size:small;
}
div.bundleDescription{
    box-sizing:border-box;
    height:min(100%,auto);
    padding-top:15px;
    color:rgb(100, 100, 100);
}
a{
    font-size:x-large;
    color:rgb(29, 29, 29);
}
a.footerLink{
    font-size:medium;
}

@media (prefers-color-scheme: light) {
	html,body {
        background-color: rgb(255, 255, 255);
        color:rgb(29, 29, 29);
	}
    #topbar{
        background: rgb(204,46,46);
        background: linear-gradient(90deg, rgb(204,46,46) 0%, rgb(42,91,197) 100%);
        box-shadow: 0px 0px 10px rgb(138, 138, 138);
    }
    a:hover {
        color:rgb(195,9,9);
        transition: color 0.125s;
      }
    div.bundleDescription{
        color:rgb(100, 100, 100);
    }
    p.description{
        color:rgb(100, 100, 100);
    }
    footer{
        background-color:rgb(225,225,225);
    }
}

@media (prefers-color-scheme: dark) {
	html,body {
        background-color: rgb(29, 29, 29);
        color:white;
	}
    #topbar{
        background: rgb(137,16,16);
        background: linear-gradient(90deg, rgb(137,16,16) 0%, rgb(13,50,132) 100%);
        box-shadow: 0px 0px 10px rgb(0, 0, 0);
    }
    a{
        color:white;
    }
    a:hover {
        color:rgb(167, 196, 255);
        transition: color 0.125s;
      }
    div.bundleDescription{
        color:rgb(168, 168, 168);
    }
    p.description{
        color:rgb(168, 168, 168);
    }
    footer{
        background-color:rgb(34, 34, 34);
    }
}
p{
    max-width:800px;
    text-align: justify;
}
ul{
    list-style-type: square;
    padding:0;
    margin-left:15px;
}
li{
    margin-top:10px;
    margin-bottom:10px;
}
@media only screen and (max-width: 768px){
    div.bundleDescription{
        font-size:small;
    }
}
@media only screen and (min-width: 768px){
    #innerBody{
        margin: 0 auto;
        padding-left:10%;
        padding-right:10%;
    }
}
#content{
    min-height:max(calc(100vh - 66px),calc(100% - 66px));
    margin-bottom:0px;
}